@(model: models.FontTheatreModel)

@textLines() = @{
	Seq(
		"SISTE PROGRAMMER - Norge sørger", 
		"The English channel",
		"Trondheim",
		"Travelling by train in the northern parts og Gøteborg",
		"GO LEFT, GO RIGHT, THEN FORWARD",
		"By plane from Helsinki to Dehli",
		"NICE, CANNES, ET LYON"
	)
} 
 
@pagetemplates.page_template_demo_poster(
	model,
	textLines(),
	posterFontSize = "[adjust-to-canvas-width]", 
	posterBackgroundColor = "black", 
	posterTextColor = "silver", 
	pageBackgroundColor = "white", 
	pageTextColor = "#424242", 
	canvasWidth = "480", 
	canvasHeight = "600", 
	posterBoxPadding = "50", 
	lineSpaceFactor = "1.3"
) {

}