@(model: models.FontTheatreModel)

<html>
   <head>
       <link rel="stylesheet" href="/public/font-face-css/font-face-adelle-sans.css" />
       <link rel="stylesheet" href="/public/font-face-css/font-face-soleil.css" />
       <link rel="stylesheet" href="/public/font-face-css/font-face-tablet-gothic.css" />
       <link rel="stylesheet" href="/public/font-face-css/font-face-tablet-gothic-compressed.css" />
       <link rel="stylesheet" href="/public/font-face-css/font-face-tablet-gothic-condensed.css" />
       <link rel="stylesheet" href="/public/font-face-css/font-face-tablet-gothic-semi-condensed.css" />
       <link rel="stylesheet" href="/public/font-face-css/font-face-tablet-gothic-narrow.css" />
       <link rel="stylesheet" href="/public/font-face-css/font-face-tablet-gothic-wide.css" />
       
       <link rel="stylesheet" href="/public/font-face-css/urbano_400_normal.css" />
       <link rel="stylesheet" href="/public/font-face-css/sanchez_400_normal.css" />
   </head>
   <style>
      h1 {
	      font-family:  Sanchez, Urbano, Times, tablet-gothic-wide, Times, tablet-gothic-semi-condensed, tablet-gothic-narrow, Times, tablet-gothic-condensed, tablet-gothic-compressed, Times, tablet-gothic, Times, soleil, 'adelle-sans', sans-serif;
	      font-style:   normal;
	      font-weight:  400;
	   }
   </style>
   <body style="margin: 0px; padding: px; color: #F4F1D6;">
      <table cellpadding="0" cellspacing="0" style="width: 100%; height: 100%; margin: 0px; padding: px;">
         <tr>
            <td height="730" style="width: 80%; background-color: #8BC752;" valign="top"><h1 style="padding: 50px;">ENTIOLAB <span style="color: #00476E;">Rag. Dette & Kern. Hamburg <i>1290 g</i> <b>Bold</b>.</span></h1></td>
            <td style="width: 20%; background-color: #73A643;"></td>
         </tr>
         <tr>
            <td height="730" style="width: 80%; background-color: #F58221;" valign="top"><h1 style="padding: 50px;">ENTIOLAB <span style="color: #00476E;">test...</span></h1></td>
            <td style="width: 20%; background-color: #CA6C16;"></td>
         </tr>
         <tr>
            <td height="730" style="width: 80%; background-color: #EE1451;" valign="top"><h1 style="padding: 50px;">ENTIOLAB <span style="color: #00476E;">test...</span></h1></td>
            <td style="width: 20%; background-color: #C40C42;"></td>
         </tr>
         <tr>
            <td height="730" style="width: 80%; background-color: #E93D24;" valign="top"><h1 style="padding: 50px;">ENTIOLAB <span style="color: #00476E;">test...</span></h1></td>
            <td style="width: 20%; background-color: #C1321C;"></td>
         </tr>
         <tr>
            <td height="730" style="width: 80%; background-color: #008DD0;" valign="top"><h1 style="padding: 50px;">ENTIOLAB <span style="color: #00476E;">test...</span></h1></td>
            <td style="width: 20%; background-color: #0076AF;"></td>
         </tr>
         <tr>
            <td height="730" style="width: 80%; background-color: #BFD32C;" valign="top"><h1 style="padding: 50px;">ENTIOLAB <span style="color: #00476E;">test...</span></h1></td>
            <td style="width: 20%; background-color: #A1B423;"></td>
         </tr>
         <tr>
            <td height="730" style="width: 80%; background-color: #231F20;" valign="top"><h1 style="padding: 50px;">ENTIOLAB <span style="color: #00476E;">test...</span></h1></td>
            <td style="width: 20%; background-color: black;"></td>
         </tr>
         <tr>
            <td height="730" style="width: 80%; background-color: #F0E817;" valign="top"><h1 style="padding: 50px;">ENTIOLAB <span style="color: #00476E;">test...</span></h1></td>
            <td style="width: 20%; background-color: #D7CC0F;"></td>
         </tr>
         <tr>
            <td height="730" style="width: 80%; background-color: #EE1C25;" valign="top"><h1 style="padding: 50px;">ENTIOLAB <span style="color: #00476E;">test...</span></h1></td>
            <td style="width: 20%; background-color: #C61C25;"></td>
         </tr>
         <tr>
            <td height="730" style="width: 80%; background-color: #487897;" valign="top"><h1 style="padding: 50px;">ENTIOLAB <span style="color: #00476E;">test...</span></h1></td>
            <td style="width: 20%; background-color: #426D87;"></td>
         </tr>
         <tr>
            <td height="730" style="width: 80%; background-color: #F0E817;" valign="top"><h1 style="padding: 50px;">ENTIOLAB <span style="color: #00476E;">test...</span></h1></td>
            <td style="width: 20%; background-color: #FFC107;"></td>
         </tr>
      </table>
   </body>
</html>