<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Atrament Web | Typekit</title>
    <meta name="csrf-param" content="authenticity_token"/>
<meta name="csrf-token" content="k1l/j4V+dnyOZSCg7eReAGlzmubOeijB5ev5pH1M+lg="/>
    <meta name="keywords" content="font, fonts, free fonts, typekit, type kit, font kit, web fonts, webfonts, font type, online fonts, free online font, internet fonts, free internet fonts, script font, text font, bold font, best fonts, cool font, free cool fonts, beautiful font, free beautiful fonts, sans fonts, serif fonts, free text font, real fonts, font library, fonts for free, font-face" />

    <link type="text/css" media="all" href="/public/font-face-kit/bundle-typekit.c725e.css" charset="utf-8" rel="Stylesheet" />
<link rel="stylesheet" type="text/css" href="/public/font-face-kit/ddd.css" />
    <!-- <script type="text/javascript" src="/public/font-face-kit/bundle-typekit.906af.js"></script> -->
    <script src="/public/font-face-kit/pk-v1.js" type="text/javascript"></script>
    <!-- <script type="text/javascript">TypekitPreview._loadInternal("dd3ffc","font-file-55372:n4,font-file-55373:i4,font-file-55374:n7,font-file-55375:i7,font-file-57179:n3,font-file-57180:i3,font-file-57181:n6,font-file-57182:i6.NSr:F:2,NSs:F:2,NSt:F:2,NSv:F:2,P7b:F:2,P7c:F:2,P7d:F:2,P7f:F:2","3bb2a6e53c9684ffdc9a9af01b5b2a62941a68be68c8bffd67aa92d2e07dc570b06afab0b85bc2f02f283b21bb231851195eedbfd6670fa7088f696af4");</script> -->
    
  </head>
  <body>
    

    <div id="header-wrapper">
  <div id="header">
    <div class="logo">
        <a title="Typekit home" href="/">Typekit</a>
    </div>
    <ul id="global-navigation">
          <li>
            <a class="header-register-button" href="/plans">Register</a>
          </li>
          <li>
              <div id="login-dropdown" data-apply-bindings="{"open":false}" data-bind="css: { opened: open }, outsideClick: function() { open(false) }">
  <div class="login-dropdown-button-wrapper">
    <a data-bind="click: function() { open(!open()) }" class="login-dropdown-button" href="/login">Sign in</a>
  </div>
  <div class="login-dropdown-form">
    <form action="https://typekit.com/login" method="POST" accept-charset="utf-8" class="prevent-double-submit-form"><input type="hidden" name="_method" value="PUT" /><input type="hidden" name="authenticity_token" value="k1l/j4V+dnyOZSCg7eReAGlzmubOeijB5ev5pH1M+lg=">
      <div class="email">
        <label for="email">Email address</label>
        <input type="text" name="email" value="" id="email" data-bind="focusWhen: open">
      </div>
      <div class="password">
        <label for="password">Password</label>
        <input type="password" name="password" value="" id="password">
      </div>
      <div class="actions">
        <input type="submit" name="Submit" value="Sign in" id="Submit">
      </div>
      <div class="forgot-password">
        <a href="/password_resets/new">Forgot your password?</a>
      </div>
    </form>
  </div>
</div>

          </li>
    </ul>
  </div>
</div>


      <div id="navigation" class="clearfix">
        <ul class="navigation-options">
            <li>
              <a class="navigation-button" href="/tour">Feature Tour</a>
            </li>
            <li>
              <a class="navigation-button" href="/plans">Pricing</a>
            </li>
          <li>
            <a class="navigation-button selected" href="/libraries/full">Browse Fonts</a>
          </li>
          <li>
            <a class="navigation-button" href="/foundries">Foundries</a>
          </li>
          <li>
            <a class="navigation-button" href="/gallery">Gallery</a>
          </li>
          <li>
            <a class="navigation-button" href="/about">About</a>
          </li>
          <li>
            <a class="navigation-button" href="http://blog.typekit.com/" target="_blank">Blog</a>
          </li>
          <li>
            <a class="navigation-button" href="/help">Help</a>
          </li>
        </ul>
          <form action="/search" class="search-form" method="get" data-apply-bindings="search-form">
    <p>
  <input type="text" name="q" class="search-form-field" placeholder="Find fonts" autocomplete="off"
    data-bind="value: query, valueUpdate: 'afterkeydown',
               css: { loading: isLoading },
               event: { focus: show, blur: function() { setTimeout(hide.bind(this), 100) } },
               keyboard: { up: previousRow, down: nextRow, 'tab,enter': chooseSelectedRow }">
  <input type="submit" value="Go" class="search-form-submit">
</p>
<ul class="search-form-results" style="display: none" data-bind="visible: isVisible, template: { name: 'search-form-result-row-template', foreach: results }"></ul>

</form>
      </div>

    <div id="content">
        <div class="sections sections-770-170 clearfix">
          <div class="section first">
            <div id="main-content">


              

<div class="font-bio">
  <div class="sections-60-40 clearfix">
    <div class="section first">
      <h1 class="heading heading-1">
        Atrament Web
          <span class="font-byline font-byline-4">by <a class="font-creator" href="/foundries/suitcase-type-foundry">Suitcase Type Foundry</a></span>
      </h1>
    </div>
    <div class="section">
      <div class="font-bio-controls">
              <span class="upgrade-notice">
                Included in the <strong>Personal plan</strong> and higher
              </span>
                <a class="button muted upgrade" href="/plans">Sign up</a>
      </div>
    </div>
  </div>
    <h2 class="heading heading-5">
      About this font
    </h2>
    <p class="description">
      Its narrow proportions make Atrament the perfect choice whenever economy of space is a must. It is however not very well suited for setting long texts. Ideal for headlines and display use, it is perfect for situations where the text needs to make a great impact in a little space.
      <a href="http://suitcasetype.com/index.php?lmut=en&part=fonts&font=4">More about Atrament Web...</a>
    </p>
</div>


<div class="autotabs font-details">

  <ul class="tabs tabs-2 clearfix">
    <li><a href="#weights-and-styles">Weights &amp; Styles</a></li>
    <li><a href="#specimens">Specimens</a></li>
    <li><a href="#type-tester">Type Tester</a></li>
    <li><a id="browser-samples-tab" href="#browser-samples">Browser Samples</a></li>
    <li class="indicator">Total size: 139K</li>
  </ul>

  <div id="weights-and-styles">

      <dl class="font-variations">
          <dt class="">Light <abbr class="numeric-weight" title="font-weight: 300;">300</abbr></dt>
          <dd class="size">Size: 16K</dd>
          <dd style="font-family:font-file-57179;font-style:normal;font-weight:300;" class="sample">The five boxing wizards jump quickly.</dd>
          <dd class="launch-wfs-link" style="display: none;"><a href="/fonts/atrament-web/n3/wfs" target="_blank">Open expanded Web Font Specimen</a>
          <dt class="">Light Italic <abbr class="numeric-weight" title="font-weight: 300;">300</abbr></dt>
          <dd class="size">Size: 18K</dd>
          <dd style="font-family:font-file-57180;font-style:italic;font-weight:300;" class="sample">Brawny gods just flocked up to quiz and vex him.</dd>
          <dd class="launch-wfs-link" style="display: none;"><a href="/fonts/atrament-web/i3/wfs" target="_blank">Open expanded Web Font Specimen</a>
          <dt class="normal">Regular <abbr class="numeric-weight" title="font-weight: 400;">400</abbr></dt>
          <dd class="size">Size: 17K</dd>
          <dd style="font-family:font-file-55372;font-style:normal;font-weight:400;" class="sample">Waltz, bad nymph, for quick jigs vex!</dd>
          <dd class="launch-wfs-link" style="display: none;"><a href="/fonts/atrament-web/n4/wfs" target="_blank">Open expanded Web Font Specimen</a>
          <dt class="">Italic <abbr class="numeric-weight" title="font-weight: 400;">400</abbr></dt>
          <dd class="size">Size: 19K</dd>
          <dd style="font-family:font-file-55373;font-style:italic;font-weight:400;" class="sample">Vamp fox held quartz duck just by wing.</dd>
          <dd class="launch-wfs-link" style="display: none;"><a href="/fonts/atrament-web/i4/wfs" target="_blank">Open expanded Web Font Specimen</a>
          <dt class="">Semibold <abbr class="numeric-weight" title="font-weight: 600;">600</abbr></dt>
          <dd class="size">Size: 17K</dd>
          <dd style="font-family:font-file-57181;font-style:normal;font-weight:600;" class="sample">The five boxing wizards jump quickly.</dd>
          <dd class="launch-wfs-link" style="display: none;"><a href="/fonts/atrament-web/n6/wfs" target="_blank">Open expanded Web Font Specimen</a>
          <dt class="">Semibold Italic <abbr class="numeric-weight" title="font-weight: 600;">600</abbr></dt>
          <dd class="size">Size: 18K</dd>
          <dd style="font-family:font-file-57182;font-style:italic;font-weight:600;" class="sample">Brawny gods just flocked up to quiz and vex him.</dd>
          <dd class="launch-wfs-link" style="display: none;"><a href="/fonts/atrament-web/i6/wfs" target="_blank">Open expanded Web Font Specimen</a>
          <dt class="">Bold <abbr class="numeric-weight" title="font-weight: 700;">700</abbr></dt>
          <dd class="size">Size: 16K</dd>
          <dd style="font-family:font-file-55374;font-style:normal;font-weight:700;" class="sample">Waltz, bad nymph, for quick jigs vex!</dd>
          <dd class="launch-wfs-link" style="display: none;"><a href="/fonts/atrament-web/n7/wfs" target="_blank">Open expanded Web Font Specimen</a>
          <dt class="">Bold Italic <abbr class="numeric-weight" title="font-weight: 700;">700</abbr></dt>
          <dd class="size">Size: 18K</dd>
          <dd style="font-family:font-file-55375;font-style:italic;font-weight:700;" class="sample">Vamp fox held quartz duck just by wing.</dd>
          <dd class="launch-wfs-link" style="display: none;"><a href="/fonts/atrament-web/i7/wfs" target="_blank">Open expanded Web Font Specimen</a>
      </dl>
  </div>

  <div id="specimens">
    <div class="specimen-scale">
      <div class="launch-wfs-link"></div>
      <table>
          <tr>
            <th>36</th>
            <td><div style="font-size:36px">The five boxing wizards jump quickly.</div></td>
          </tr>
          <tr>
            <th>30</th>
            <td><div style="font-size:30px">The five boxing wizards jump quickly.</div></td>
          </tr>
          <tr>
            <th>24</th>
            <td><div style="font-size:24px">The five boxing wizards jump quickly.</div></td>
          </tr>
          <tr>
            <th>21</th>
            <td><div style="font-size:21px">The five boxing wizards jump quickly.</div></td>
          </tr>
          <tr>
            <th>18</th>
            <td><div style="font-size:18px">The five boxing wizards jump quickly.</div></td>
          </tr>
          <tr>
            <th>16</th>
            <td><div style="font-size:16px">The five boxing wizards jump quickly.</div></td>
          </tr>
          <tr>
            <th>14</th>
            <td><div style="font-size:14px">The five boxing wizards jump quickly.</div></td>
          </tr>
          <tr>
            <th>13</th>
            <td><div style="font-size:13px">The five boxing wizards jump quickly.</div></td>
          </tr>
          <tr>
            <th>12</th>
            <td><div style="font-size:12px">The five boxing wizards jump quickly.</div></td>
          </tr>
          <tr>
            <th>11</th>
            <td><div style="font-size:11px">The five boxing wizards jump quickly.</div></td>
          </tr>
          <tr>
            <th>10</th>
            <td><div style="font-size:10px">The five boxing wizards jump quickly.</div></td>
          </tr>
          <tr>
            <th>9</th>
            <td><div style="font-size:9px">The five boxing wizards jump quickly.</div></td>
          </tr>
      </table>
    </div>

    <div class="specimen-contrast">
      <div class="sections-50-50 clearfix">
        <div class="section first">
          <div class="specimen-contrast-a">
            <p class="specimen-contrast-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p class="specimen-contrast-2">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p class="specimen-contrast-3">Even the all-powerful Pointing has no control about the blind texts &mdash; it is an almost unorthographic life. One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            <p class="specimen-contrast-4">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
            <p class="specimen-contrast-5">When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
          </div>
        </div>
        <div class="section">
          <div class="specimen-contrast-b">
            <p class="specimen-contrast-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p class="specimen-contrast-2">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p class="specimen-contrast-3">Even the all-powerful Pointing has no control about the blind texts &mdash; it is an almost unorthographic life. One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            <p class="specimen-contrast-4">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
            <p class="specimen-contrast-5">When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="type-tester">
    <div class="specimen-editor">
  <div class="font-size-slider">
    <div class="min">A</div>
    <div class="slider"></div>
    <div class="max">A</div>
  </div>
  <textarea>Click here to edit...</textarea>
  <p>
    Type Tester does not support the full set of characters in the font; numbers
    and many international characters are unavailable.
  </p>
</div>

  </div>

  <div id="browser-samples">
    <div class="browser-samples">

  <div class="variations-list">
    <ol>
          <li class=""><a href="/variations/5912/render_tests">Light</a></li>
          <li class=""><a href="/variations/5913/render_tests">Light Italic</a></li>
          <li class="normal"><a href="/variations/1717/render_tests">Regular</a></li>
          <li class=""><a href="/variations/1718/render_tests">Italic</a></li>
          <li class=""><a href="/variations/5914/render_tests">Semibold</a></li>
          <li class=""><a href="/variations/5915/render_tests">Semibold Italic</a></li>
          <li class=""><a href="/variations/1719/render_tests">Bold</a></li>
          <li class=""><a href="/variations/1720/render_tests">Bold Italic</a></li>
    </ol>
  </div>

  <p>
    Preview how this font looks in various browsers.
  </p>

</div>

  </div>
</div>



            </div>

              <div id="footer">
    <ul>
      <li>
        &copy; Copyright 2011 <a href="http://typekit.com/about">Typekit, Inc.</a>
      </li>
        <li>
          <a href="/policies">Terms</a>
        </li>
        <li>
          <a href="/policies/privacy">Privacy</a>
        </li>
        <li>
          <a href="/developers">Developers</a>
        </li>
        <li>
          <a href="/jobs">Jobs</a>
        </li>
        <li id="typekit-on-twitter">
          <a href="http://twitter.com/typekit/">Typekit on Twitter</a>
        </li>
        <li>
          <a href="mailto:support@typekit.com">
            Contact Us
          </a>
        </li>
        <li>
          <a href="http://status.typekit.com">
            Status Blog
          </a>
        </li>
    </ul>
  </div>


          </div>
          <div class="section">
            <div id="aside">
              
    <p id="sign-up-promo">
    <a class="button promo promo-1" href="/plans"><em>Find the perfect font?</em> Sign Up now</a>
  </p>


  <div class="font-creator-bio">

    <h2 class="heading heading-5">About this foundry</h2>
    <p class="description">
      Suitcase Type Foundry is an independent type foundry, founded by Tomas Brousil in 2003 in Prague, Czech Republic. They specialize in the design and digitization of quality fonts for professional use. Apart from retail type, they also produce custom typefaces for corporate use and other specific purposes on commission. The fonts in their library have been designed with utmost care and are meticulously kerned and hinted.
    </p>
      <p>
          <a href="http://suitcasetype.com/index.php?lmut=en">Foundry site</a> <span class="font-creator-bio font-creator-bio-separator">|</span>
        <a href="/foundries/suitcase-type-foundry">Typekit profile</a>
      </p>
</div>

      <div class="tag-list">
        <h2 class="heading heading-5">Style</h2>
        <ul>
          <li><a href="/libraries/full?style=Sans+Serif">Sans Serif</a></li>
        </ul>
      </div>

      <div class="tag-list">
        <h2 class="heading heading-5">Languages</h2>
        <p class="description description-6">
        Some of these languages require that you enable the "All Characters" set in your kit. <a href="http://help.typekit.com/portal/article/8071-Support-for-different-languages-on-Typekit">more &raquo;</a>
        </p>
        <ul>
            <li><a href="/libraries/full?languages=catalan">Catalan</a></li>
            <li><a href="/libraries/full?languages=czech">Czech</a></li>
            <li><a href="/libraries/full?languages=dutch">Dutch</a></li>
            <li><a href="/libraries/full?languages=english">English</a></li>
            <li><a href="/libraries/full?languages=french">French</a></li>
            <li><a href="/libraries/full?languages=german">German</a></li>
            <li><a href="/libraries/full?languages=italian">Italian</a></li>
            <li><a href="/libraries/full?languages=polish">Polish</a></li>
            <li><a href="/libraries/full?languages=portuguese">Portuguese</a></li>
            <li><a href="/libraries/full?languages=spanish">Spanish</a></li>
            <li><a href="/libraries/full?languages=swedish">Swedish</a></li>
        </ul>
      </div>

      <div class="tag-list">
        <h2 class="heading heading-5">Tags</h2>
        <ul>
            <li><a href="/libraries/full?tags=business">business</a></li>
            <li><a href="/libraries/full?tags=display">display</a></li>
            <li><a href="/libraries/full?tags=semi-condensed">semi-condensed</a></li>
        </ul>
      </div>


            </div>
          </div>
        </div>
    </div>

    
      <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-8850781-2"); pageTracker._trackPageview();
  } catch(err) {}
  </script>

  <script type="text/javascript">
  adroll_adv_id = "H54FSYXF5JEFLINFYVNKH2";
  adroll_pix_id = "Y4NPBTXXRBEARKGBJOZWEV";
  (function () {
  var oldonload = window.onload;
  window.onload = function(){
     __adroll_loaded=true;
     var scr = document.createElement("script");
     var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
     scr.setAttribute('async', 'true');
     scr.type = "text/javascript";
     scr.src = host + "/j/roundtrip.js";
     ((document.getElementsByTagName('head') || [null])[0] ||
      document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
     if(oldonload){oldonload()}};
  }());
  </script>

  </body>
</html>
